.hero {
  background-image: url("../../images/hero.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Cormorant SC', serif;
}
.text-container {
  width: 900px;

  color: white;
  margin: 0 auto;
  padding-top: 5rem;
  padding-left: 16px;
}

.title {
  font-size: 2rem;
}

.lg {
  font-size: 4rem;
}
