.work {
  display: grid;
  gap: 40px;
  margin-top: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.card {
  max-width: 320px;
  font-family: 'Cormorant SC', serif;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 1.2rem;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.04);
  transition: 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-info {
  margin-top: 1rem;
  padding: 1rem;
  line-height: 25px;
}

.card-info > h3 {
  margin-bottom: 10px;
}
